@charset "UTF-8";

	* { margin: 0px;
		padding: 0px;
		}
	/*-------------- Header Start ----------------*/
	#header {
		width: 100%;
		height: 67px;
		background-image: url(/web_ex3/images/header_bg.png);
		position: fixed;
		top:0px;
		
		}
	
	#header_wrap {
		width: 48%;
		height : 67px;
		margin: 0 auto;
		/*overflow: hidden;*/
		}
	#header_logo {
		/*margin-top: 13px;*/
		padding-top: 13px;
		padding-bottom: 13px;
		float :left;
		}
	
	#header_nav {
		height: 67px;
		float: left;
		margin-left: 160px;
		}
	#header_nav > ul > li { 		/* 자식 선택자 */ /* #header_nav li */
		float: left;
		list-style: none;
							/* list-style-image :url(""); */
		margin-right: 20px;
		line-height: 67px;
		
	}
	#header_nav li > a {
		color: white;
		text-decoration: none;
		font-size: 0.9em;
		font-weight: bold;
	
	}
	
	#header_nav li:last-child {
		margin-right: 0px;
	}
		
	#header_subnav {
		height: 67px;
		float: right;
		}
	#header_subnav li {
		float: left;
		
		font-size: 0.7em;
		list-style: none;
		margin-left: 11px;
		line-height: 67px;
	}

	#header_subnav li > a {
		color: gray;
		text-decoration:none;
		
	}

	
	/*------------------- Header End -------------------*/
	
	/*---------------- Contents Start---------------*/
	
	#contents {
		width: 48%;
		height: 840px;
		margin: 0 auto;
		margin-top: 137px;
		
		}
	/*--------------------- Contents End ---------------------*/	
		
	/*----------------- Footer Start -----------------*/
	#footer {
		width : 100%;
		height: 132px;
		background-image : url(/web_ex3/images/header_bg.gif);
		margin-top: 50px;
		overflow: hidden;
		}
		
	#footer_wrap {
		width: 48%;
		height: 132px;
		margin: 0 auto;
		margin-top: 30px;
	}
	
	#footer_logo {
		/*margin-top: 13px;*/

		float :left;
		}
		
	#footer_info {
		float: left;
		margin-left: 30px;
		font-size: 0.8em;
		color : white;
	}
	#footer_info >p:first-child {
		margin-bottom: 10px;
	}
	#footer_info >p:last-child > span{
		font-size: 0.6em;
	}
	
	#footer_info > p > a {
		color : white;
		text-decoration: none;
	}
	
	#footer_select {
		float: right;
	}
	
	#footer_select > select {
		background-color: gray;
		color: rgb(230,230,230);
		width: 210px;
	}